  <!DOCTYPE html>
  <html>
    <head>
      <title>Welcome Pierre</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="jumbotron" id="splashPage">
            <h1>Pierres bakery!</h1>
                <h2><a href='/vendors/new'>Add vendor</a></h2>
                <h2><a href='/vendors'>See all current vendors</a></h2>
                <h2><a href="/vendors/newest">Pierres bakery</a></h2>
        </div>
        <img src="https://jbbakery.com/wp-content/uploads/2016/06/bakery-collage.png" alt="food picture" class="food">
    </body>
  </html>;
