  <!DOCTYPE html>
  <html>
    <head>
      <title>Welcome Pierre</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <h1>Your vendor list has been cleared!</h1>
      <p><a href="/vendors">Start new vendor list.</a></p>
    </body>
  </html>;

