  <!DOCTYPE html>
  <html>
    <head>
      <title>Welcome Pierre</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <div class="jumbotron" id="clearPage">
        <h1>Your vendor list has been cleared!</h1>
        <h2><a href="/vendors">Start new vendor list.</h2></p>
      </div>
    </body>
  </html>;

