
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Add vendor orders:</h1>
    <form action="/bakerypages" method="post">
      <label for="city">Name</label>
      <input id="city" name="city" type="text">
      <label for="description">Order details</label>
      <input id="description" name="description" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>